.logo-admin{
  margin-top: 30px !important;
  width: auto !important; /* Adjust the size as needed */
  height: 180px !important;
  margin-bottom: 0% !important;
  }
.logo-admin:hover {
    transform: scale(1.1); /* Enlarge the logo on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
.block:hover{
background-color: rgb(69, 223, 69);
color: white;
}

.admin_back{
    background-color: white;
}
.admin-page{
    margin-top: 70px !important;
}

.visitor{
  background-color: #a7ec9e;
}