footer.custom-footer {
  background-color: #eaf7ed;
  color: white;
  padding: 5px 0; /* Reduce vertical padding */
}

footer .container {
  text-align: center;
  margin: 3px; /* Reduce margin for the container */
  
}

footer p {
  margin: 0 0 5px; /* Reduce space below the text */
  font-size: 14px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 5px 0; /* Reduce vertical spacing */
}

footer ul.list-inline {
  display: inline-flex;
  gap: 10px; /* Reduce gap between items */
}

footer ul.list-inline a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

footer ul.list-inline a:hover {
  color: #00bcd4;
}
