.booking-card {
  max-width: 800px;
  margin: 15px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(59, 220, 107, 0.795);
  padding: 20px;
}

.bookint{
  max-width: 800px;
}
.booking-header {
  text-align: center;
  margin-bottom: 20px;
}
.calendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  background-color: #eaf7ed;
}

.history-card {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(59, 220, 107, 0.795);
  padding: 20px;
}

.btn:hover{
  transform: scale(0.9) ;
  background-color: #33a824 !important;
  border-color: #319124 !important;
}