.booking-card {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.booking-header {
  text-align: center;
  margin-bottom: 20px;
}
.calendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
}

.history-card {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
